
<html>
	<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <% if @sentence %>
      <meta name="twitter:card" content="photo">
      <meta name="twitter:site" content="@beatsmusic">
      <meta name="twitter:creator" content="@beatsmusic">
      <meta name="twitter:title" content="Beats Music">
      <meta name="twitter:image" content="<%= @sentence.url %>">
      <meta name="twitter:image:width" content="602">
      <meta name="twitter:image:height" content="602">

      <!-- Deep Links -->
      <meta name="twitter:app:name:iphone" content="Beats Music"/>
      <meta name="twitter:app:id:iphone" content="id781817640"/>
      <meta name="twitter:app:url:iphone" content="https://itunes.apple.com/us/app/beats-music/id781817640"/>
      <meta name="twitter:app:name:ipad" content="Beats Music"/>
      <meta name="twitter:app:id:ipad" content="id781817640"/>
      <meta name="twitter:app:url:ipad" content="https://itunes.apple.com/us/app/beats-music/id781817640"/>
      <meta name="twitter:app:name:googleplay" content="Beats Music"/>
      <meta name="twitter:app:id:googleplay" content="com.beatsmusic.android.client"/>
      <meta name="twitter:app:url:googleplay" content="https://play.google.com/store/apps/details?id=com.beatsmusic.android.client"/>
    <% end %>

		<title></title>
		<link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css"/>
		<link rel="stylesheet" href="/vendor/font-awesome/css/font-awesome.min.css">
		<link href="/css/main.css" rel="stylesheet" />

    <script type="text/javascript">
    var AWESM = AWESM || {};
    AWESM.api_key = '9bd1f65e737d8ec56d4684791b60cc6499f2e77d2820fe06c8b9c8181d95bdc2';
    AWESM.shares = {}; // global shares object

    (function() {
        var js = document.createElement('script'); js.type = 'text/javascript'; js.async = true;
        js.src = '//ywidgets.awe.sm/v3/widgets.js?key=' + AWESM.api_key + '&async=true';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(js,s);
    })();
    </script> 

	</head>

	<body>
		<div class="cta">
			<div class="logo">
				<img id="beats_logo" src="img/hdr_logo.png" />
			</div>
			<span>Create your own<br/>Beats Music Sentence for<br/>#sxsw</span>
			<div class="arrow-holder">
				<span class="arrow-up"></span>
			</div>
		</div>
		<div class="main-screen body-container hidden">
			<div class="trans-wrapper trans"><div class="bg"><span class="static trans">I'M</span></div></div>
			<div class="trans-wrapper trans"><div class="bg wrapper where"><div id="where" class="action"></div></div></div>
			<div class="trans-wrapper trans"><div class="bg"><span class="static trans">& FEEL LIKE</span></div></div>
			<div class="trans-wrapper trans"><div class="bg wrapper feel"><div id="feel" class="action"></div></div></div>
			<div class="trans-wrapper trans"><div class="bg"><span class="static trans">WITH</span></div></div>
			<div class="trans-wrapper trans"><div class="bg wrapper with"><div id="with" class="action"></div></div></div>
			<div class="trans-wrapper trans"><div class="bg"><span class="static trans">TO</span></div></div>
			<div class="trans-wrapper trans"><div class="bg wrapper who"><div id="who" class="action"></div></div></div>
		</div>
		<div class="tweet">
			<i class="fa fa-twitter"></i>tweet your sentence
		</div>
		<div class="author-screen body-container hidden">
			<div class="trans-wrapper trans"><div class="bg"><span class="static trans"></span>
			<div class="trans-wrapper trans"><div class="bg wrapper"><div class="input-holder">	
				<input type="text" maxlength="20"><i class="fa fa-pencil"></i>
			</div></div></div>
			<span class="break"></span>
			<div class="trans-wrapper trans"><div class="bg wrapper"><div id="opt_1" class="option"></div></div></div>
			<span class="break"></span>
			<div class="trans-wrapper trans"><div class="bg wrapper"><div id="opt_2" class="option"></div></div></div>
			<span class="break"></span>
			<div class="trans-wrapper trans"><div class="bg wrapper"><div id="opt_3" class="option"></div></div></div>
			<span class="break"></span>
			<div class="trans-wrapper trans"><div class="bg wrapper"><div id="opt_4" class="option"></div></div></div>
			<span class="break"></span>
			<div class="trans-wrapper trans"><div class="bg wrapper"><div id="opt_5" class="option"></div></div></div>
		</div>
	</body>
	<script type="text/javascript" src="/vendor/jquery/jquery.min.js"></script>
	<script type="text/javascript" src="/scripts/main.js"></script>
</html>
